<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BA.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{750,344},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BAS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,173},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BB.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,116},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BBS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,59},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BC.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{750,287},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BCS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BK.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,458},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BKM.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,401},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BKS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,344},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BN.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{750,230},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BNS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,287},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BP.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,458},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BPS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,230},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BR.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,401},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>BRS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,173},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>OO.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,515},{1,1}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>OOS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{750,401},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RA.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,116},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RAS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,59},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RB.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,344},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RBS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RC.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,287},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RCS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,458},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RK.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,401},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RKM.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,344},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RKS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,287},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RN.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,230},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RNS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,173},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RP.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{695,230},{53,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RPS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,116},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RR.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,59},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>RRS.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>WOOD.GIF</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{521,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,577}}</string>
                <key>sourceSize</key>
                <string>{521,577}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WOOD.pvr.ccz</string>
            <key>size</key>
            <string>{805,525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5191755b898e8ff350270c73f8cf11fa:433539f56215759c22f798a0ddd26991:c91e500918926dc44bb34aa44decab64$</string>
            <key>textureFileName</key>
            <string>WOOD.pvr.ccz</string>
        </dict>
    </dict>
</plist>
